{% extends 'catalog/base.html' %}

{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container col-4">
            <div class="row">
                <div class="col-auto">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-success">
                                    {% if object %}
                                        Сохранить
                                    {% else %}
                                        Cоздать
                                    {% endif %}
                                </button>
                                <a type="button" class="btn btn-danger" href="/blog/">Отмена</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}