<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="btn btn-lg">Store</a>
        </h5>
        <nav class="navbar ms-5" data-bs-theme="dark">
            <form class="container-fluid justify-content-start">
                <a class="btn btn-outline-success me-2" href="/category/">Каталог</a>
                <a class="btn btn-sm btn-outline-secondary me-2" href="/contacts/">Контакты</a>
                <a class="btn btn-sm btn-outline-secondary me-2" href="/blog/">Отзывы</a>
            </form>
        </nav>
    </div>